/* Hero Section */
.hero {
    text-align: center;
    padding: 100px 20px;
    background: linear-gradient(135deg, #1a1a1a, #3aaf85);
    color: white;
}

.hero .btn {
    margin-top: 15px;
}

/* Responsividade */

/* Telas pequenas (celulares, até 576px) */
@media (max-width: 576px) {

}

/* Telas médias (tablets, até 768px) */
@media (max-width: 768px) {

}

/* Telas grandes (desktops, até 992px) */
@media (max-width: 992px) {

}

/* Telas muito grandes (monitores grandes, acima de 1200px) */
@media (min-width: 1200px) {
 
}